* {
    //border: solid 1px red;
}

#root {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: lightblue;
    display: flex;
    align-items: center;
    gap: 3%;
    margin: 0% 0%;
    padding: 1% 2%;
}

.logo {
    display: flex;
    gap: 5%;
}

.logo>img {
    width: 80px;
    height: auto;
}

.navbar>:nth-child(1) {
    margin-right: auto;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 10px;
    width: 60%;
    align-self: center;
}

.itemList div {

}

.item>img {
    width: 250px;
    height: 250px;
}